header {
    left: 100px;
}

#image {
    position: relative;
    left: 10%;
}

footer {
    text-align: right;
}

footer div{
    right: 10%;
    position: relative;
}

body {
    background-color: #e1ecf8;
}

.carsPanel {
    width: 85%;
    margin: auto;
}

.buttons {
    margin: 10px;
}

.output-text {
    margin-top: 10px;
    margin-bottom: 10px;
}

.timePanelGrid td {
    padding: 3px 3px;
}

#car-panel {
    width: 600px;
}

.input-text {
    width: 100%;
}

.coordinate-input-text {
    width: 40%;
}

.centered{
    margin: 0 auto;
}

.topBottomMargin {
    margin-bottom: 5px;
    margin-top: 5px;
}

.required-label:after {
    font-weight: bold;
    content: " *";
    color: red;
    font-size: 125%;
}

.required-label {
    font-weight: bold;
}

.noBorder tr, .noBorder td {
    border: none !important;
}

.noBackground tr, .noBackground td {
    background: transparent;
}

.centered {
    margin: 0 auto;
}